/* $Id: page-backgrounds.css,v 1.8 2009/11/04 20:57:49 johnalbin Exp $ */

/**
 * @file
 * Page Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/
 */


body {
}

body.front, body.not-front {
    background-color: #F4F4F3;
}

#page-wrapper {
}

#page {
}

#navigation {
}

#feature {
}

#preface-wrapper {
}

#main-wrapper {
}

#header {
}

#header .section{
}


#headercontent-inner {
}

#headercontent-wrapper .section {
margin-bottom: 2px;
border-bottom: 1px solid #B8B6B8;
}

#navbar-wrapper {
border-bottom: 1px solid #BBBBBB;
}

#navbar-wrapper .column.NavbarRight {

}



#navbar-wrapper a:hover{

}

#topbar-wrapper {
}

#header .section {
}

#sitecontent-wrapper {
}

.front #feature-wrapper .section {
    background-color: #FFFFFF;
    border-color: #DDDDDD #BBBBBB #cccccc #DDDDDD;
    border-style: solid;
    border-width: 0 0 1px 0;
}

.front #feature-wrapper .region {
padding: 10px;
}

.front #feature-wrapper .FeatureFirst .block {
    height: 95%;
    margin: 0;    
}

#bottom {
	background: #e6e7e8; /* Old browsers */
	background: -moz-linear-gradient(top, #e6e7e8 0%, #d3d3d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e7e8), color-stop(100%,#d3d3d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e6e7e8 0%,#d3d3d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e6e7e8 0%,#d3d3d3 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e6e7e8 0%,#d3d3d3 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E6E7E8', endColorstr='#D3D3D3',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #e6e7e8 0%,#d3d3d3 100%); /* W3C */
}


.front #feature-wrapper .FeatureSecond .block {
    margin: 0;
    padding-left: 0px;
}

#sitecontent{
}

#main-wrapper {
}

#main {
}

#footer {
}

#footer .section {
}
